 
 .footer {
		width: 100%;
		background-image: url("../../assets/wave.svg");
		background-repeat: no-repeat;
		background-size: cover;
}

.container{
	padding-top: 5%;
	width: 80%;
	margin-left: 5%;
	z-index: 2;
}

.title {
	color: #FFF;
		font-size: 22px;
		font-family: Poppins;
		font-style: normal;
		line-height: normal;
} 

.text {
	color: #FFF;
	font-family: Poppins;
}

.img-footer{
	margin-top: 3%;
	display: flex;
	align-items: center;
	
}
.img-footer img {
	width: 10%;
}









